<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', { title: 'ADMIN' }) %>

    <body class="admin">

        <aside>
            <ul id="opciones">
                <li data-target="div1">
                    <p>Dashboard</p>
                </li>
                <li data-target="div2">
                    <p>Usuarios</p>
                </li>
                <li data-target="div3">
                    <p>Productos</p>
                </li>
                <li data-target="div4">
                    <p>Categorias</p>
                </li>
                <li data-target="div5">
                    <p>Secciones</p>
                </li>
                <li>
                    <p>Favoritos</p>
                </li>
                <!-- <li><a href="/">
                        <p>Salir</p>
                </li></a> -->
            </ul>
        </aside>
        <main class="main__admin">
            <header class="main__admin__header">
                <div class="main__admin__header-text">
                    <h1>Panel de administracion</h1>
                    <p>En este panel va a poder realizar toda la configuracion necesaria</p>
                </div>
                <div class="main__admin__header-icon">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeE49t-u-MwSe5Ia4mL_IzNjsE_EP3gf-27JaSuxJnOQ&s"
                        alt="">
                        <a href="/"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
                </div>

            </header>
            <div id="div3" class="table__container-oculto">
                <div class="table__container">
                <div class="table__container-header">
                    <div>
                        <h2 class="lista__title">Tabla de Productos</h2>
                    <a href="/product/new">Agregar producto</a>
                    </div>
                    <h4>Filtros</h4>
                    <div>
                       
                       
                        <input type="text">
                        <input type="text">
                    </div>
                </div>
                <table>

                    <tr>
                        <th>#</th>
                        <th>Imagen</th>
                        <th>Nombre</th>   
                        <th>Categoria</th>
                        <th>Precio</th>
                        <th>Descuento</th>
                        <th>Precio final</th>
                     
                        <th></th>
                    </tr>
                    <% products.forEach((product,index)=> { %>
                        <tr>
                            <td>
                                <%= index + 1 %>
                            </td>
                            <td><img class="product-image" src="/images/<%= product.mainImage %>" alt="Producto 1"></td>
                            <td>
                                <%= product.name %>
                            </td>
                            <td>
                                <%= product.category.name %>
                            </td>
                            <td>$<%= product.price %></td>
                            <td>
                                <%= product.discount+'%' %>
                            </td>
                            <td>
                                <strong><%= `$${product.price-(product.price*product.discount/100)}` %></strong>
                            </td>
                            <td>
                                <div class="actions">

                                    <a href="/product/detail/<%= product.id %>"><i class="far fa-eye"></i></a>
                                    <a href="/product/edit/<%= product.id %>"> <i class="fas fa-edit"></i></a>
                                    <button type="button"  data-bs-toggle="modal"
                                        data-bs-target="#modalDelete<%=product.id%>">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>

                                    <div class="modal fade" id="modalDelete<%=product.id%>" tabindex="-1"
                                        aria-labelledby="modalDeleteLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content"> 
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="modalDeleteLabel">
                                                        Advertencia
                                                    </h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <p style="color:blue">¿Estás seguro que querés
                                                        eliminar el producto <b>
                                                            <%= product.name %>
                                                        </b>?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Cancelar</button>
                                                    <form action="/product/delete/<%=product.id%>?_method=DELETE"
                                                        method="POST">
                                                        <button type="submit" class="btn btn-danger">Eliminalo</button>
                                                    </form>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </td>
                        </tr>
                        <% }) %>

                </table>
                </div>
            </div>
            <div id="div2" class="table__container-oculto">
                <div class="table__container">
                    <h2 class="lista__title">Tabla de Usuarios</h2>
                    <table>
    
                        <tr>
                            <th>#</th>
                            <th>Imagen</th>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Rol</th>
                        </tr>
                        <% users.forEach((item,index)=> { %>
                            <tr>
                                <td>
                                    <%= index + 1 %>
                                </td>
                                <td><img class="product-image" src="/images/users/<%= item.avatar || 'default.png'%>" alt="user img"></td>
                                <td>
                                    <%= `${item.name}  ${item.lastName}` %>
                                </td>
                                <td>
                                    <%= item.email %>
                                </td>
                                <td>
                                    <%= item.rol.name %>
                                </td>
                            </tr>
                            <% }) %>
    
                    </table>
                </div>
               

            </div>
            <div id="div1" class="table__container-oculto"  >
                <div style="display: flex;">
                       <div id="miGrafico" style="width: 600px; height: 400px;"></div>
                <div id="grafico2" style="width: 600px; height: 400px;"></div>
                </div>
             
            </div>
        </main>
        <%- include('partials/script') %>
    </body>

</html>