<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {
  title: 'PRODUCT DETAIL'
}) %>

  <body>

    <%- include('../partials/header') %>

  <main>
    <!-- contenido detalle de producto -->
 <section class="home__prodetail">

      <!-- Seccion que muesta Collage de Imagenes -->
        <article class="prodetail__collage">

              <!-- Varias Imagenes -->
                  <div class="prodetail__collage-images">
                          <!--  aca va for each array images -->
                          <img width="100%" src="/images/<%= image || 'logo.png' %>" alt="">
                          <img width="100%" src="/images/<%= image || 'logo.png' %>" alt="">
                          <img width="100%" src="/images/<%= image || 'logo.png' %>" alt="">
                        <!-- cierra for each -->
                  </div>

                <!-- Imagen Main -->
                  <div class="prodetail__collage-mainImage">
                        <img class="img-fluid" src="/images/<%= image || 'logo.png' %>" alt="">
                        <h2><%= name %></h2>
                  </div>
        </article>

      <!-- Seccion que muesta Descripcion -->          
        <article class="prodetail__description">                   
                              <h5 class="col-12"><%= brand %></h5>                    
                              <h4 class="col-12 fw-bold"><%= name %> <%= size %></h4>
                              <hr>
                              <p class="fs-6"><%= description %></h4>
                              <h4 class="col-12"><%= `$ ${price}`%></h4> 
                              <button><a href="/product/trolley">AGREGAR</a></button>                         
</article>
  </section>

                     
                  
         

    <div class="swiper mySwiper2">
      <div class="swiper-wrapper">
        <% products.forEach(producto => { %>
          <div class="swiper-slide">
            <div class="main_section_contenedor">
              <a href="/product/detail/<%= producto.id %>">
                <img src="/images/<%= producto.image %>" alt="">
                <h4><%= producto.name %></h4>
                <h4><%= producto.size %></h4>
                <h4>$<%= producto.price %></h4>
              </a>
            </div>
          </div>
        <% }) %>
      </div>
    </div>
</main>
 
    
    <%- include('../partials/footer') %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- swiper -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <!--  <script src="/js/carousel_swiper.js"></script> -->
    <script src="/javascripts/carousel_swiper2.js"></script>
  </body>
</html>
