<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {
  title: 'PRODUCT DETAIL'
}) %>

  <body>

    <%- include('../partials/header') %>

  <main class="main">
    <!-- contenido detalle de producto -->
 <section class="home__prodetail">

      <!-- Seccion que muesta Collage de Imagenes -->
        <article class="prodetail__collage">
          <h3><%= name %></h3>
     

              <!-- Varias Imagenes -->
                  <div class="prodetail__collage-images">
                          <% if (images) { %>
                           <% images.forEach(imagen => { %>
                             <img width="100%" src="/images/<%= imagen.file || 'default-image.jpg' %>" alt=""> 
                          <% }) %>
                          <% }else{  %>
                             <img width="100%" src="/images/default-image.jpg" alt=""> 
                          <% } %>
                         

                  </div>

                <!-- Imagen Main -->
                  <div class="prodetail__collage-mainImage">
                        <img class="img-fluid" src="/images/<%= mainImage || 'logo.png' %>" alt="">

                  </div>
        </article>

      <!-- Seccion que muesta Descripcion -->          
        <article class="prodetail__description">                                    
                              <h4 class="col-12 fw-bold"><%= name %> <%= size %></h4>
                              <h5 class="col-12"><%= category.name %></h5>   
                              <hr>
                              <p class="fs-6"><%= description %></h4>
                              <h4 class="col-12"><%= `$ ${price}`%></h4> 
                              <a href="/product/trolley">AGREGAR</a>                        
</article>
  </section>

                     
                  
  <h2>Productos Relacionados</h2>     

    <div class="swiper swiper-container-carousel">
      <div class="swiper-wrapper">
        <% products.forEach(product => { %>
          <div class="swiper-slide">
            <%- include('../partials/cards',{product}) %>
          </div>
        <% }) %>
      </div>
    </div>
</main>
 
    
    <%- include('../partials/footer') %>

    <%- include('../partials/script') %>
  </body>
</html>
