<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head', { title: 'HOME' }) %>

  <body>
    <%- include('../partials/header') %>
    <main>
      <div class="main__form">
        <h1>Editar Producto</h1>
        <form action="/product/update/<%= id %>?_method=PUT" method="POST" enctype="multipart/form-data">
          <div class="main__form__body">
            <div class="main__form__input2">
              <label for="name">Nombre de Producto</label>
              <input
                type="text"
                id="name"
                name="name"
                value="<%= name %>"
                required
              />
            </div>
            
              <div class="main__form__input2">
                <label for="categoria">Categoría</label>
                <select name="brand">
                   <% products.forEach(item => { %>
                    <option <%= item.brand === brand ? "selected" : null %> value="<%= item.brand %>"><%= item.brand %> </option>
                   <% }) %>
                </select>
              </div>
              <div class="main__form__input2">
                <label for="price">Precio</label>
                <input
                  type="number"
                  id="price"
                  name="price"
                  value=<%= price %>
                />
              </div>
            
            
              <div class="main__form__input2">
                <label for="size">Tamaño</label>
                <input
                  type="text"
                  id="size"
                  name="size"
                  placeholder="Ingrese un tamaño"
                  value= "<%= size %>"
                  >
              </div>
 
            
              <div class="main__form__input2">
                <label for="mainImage">Imagen principal</label>
                <input type="file" id="mainImage" name="mainImage" />
              </div>
            <div class="main__form__input2">
              <label for="images">Imagenes</label>
              <input multiple type="file" id="images" name="images" />
            </div>
              <div class="main__form__input2">
                <label for="description">Descripción</label>
                <textarea 
                
                  name="description"
                  id="descripcion"
                  cols="22"
                  rows="2"
                ><%= description %></textarea>
              </div>
           
            <div class="main__form__links">
             
                <button type="submit">Cancelar</button>
              
             
                <button type="submit">Guardar</button>
             
            </div>
          </div>
        </form>
      </div>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
