<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head', { title: 'HOME' }) %>

  <body>
    <%- include('../partials/header') %>
    <main class="main">
      <div class="main__form">
        <h1>Crear Producto</h1>
        <form  action="/product/created" method="POST"  enctype="multipart/form-data" id="formRegister">
          <small id="msgError-empty" class="text-validations"></small>
          <div class="main__form__body">
            <div class="main__form__input2">
              <label for="name">Nombre de Producto</label>
              <input
                type="text"
                id="name"
                name="name"
                placeholder="Ingrese Nombre del Producto"
                class="form-control"
                
              />
              <small id="msgError-name" class="text-validations"><%= locals.errors && (errors.name && errors.name.msg); %></small>
            </div>
            <div class="main__form__input2">
              <label for="size">Tamaño</label>
              <input
                type="text"
                id="size"
                name="size"
                placeholder="Ingrese un tamaño"
                class="form-control"
              />
              <small id="msgError-size" class="text-validations"><%= locals.errors && (errors.size && errors.size.msg); %></small>

            </div>
            <div class="main__form__input2">
              <label for="category">Categoría</label>
              <select  id="category" name="category">
                <option selected hidden value="">Seleccione...</option>
                 <% category.forEach(item => { %>
                  <option value="<%= item.id %>"><%= item.name %> </option>
                 <% }) %>
              </select>
              <small id="msgError-category"  class="text-validations"><%= locals.errors && (errors.category && errors.category.msg); %></small>
            </div>
            <div class="main__form__input2">
              <label for="section">Seccion</label>
              <select id="section" name="section">
                <option selected hidden value="">Seleccione...</option>

                 <% section.forEach(item => { %>
                  <option value="<%= item.id %>"><%= item.name %> </option>
                 <% }) %>
              </select>
              <small id="msgError-section"  class="text-validations"><%= locals.errors && (errors.section && errors.section.msg); %></small>

            </div>
              <div class="main__form__input2">
                <label for="price">Precio</label>
                <input
                  type="number"
                  id="price"
                  name="price"
                  placeholder="Ingrese un precio"
                  class="form-control"
                />
                <small id="msgError-price" class="text-validations"><%= locals.errors && (errors.price && errors.price.msg); %></small>
              </div>
              <div class="main__form__input2">
                <label for="price">Descuento</label>
                <input
                  type="number"
                  id="discount"
                  name="discount"
                  placeholder="Ingrese el descuento"
                />
              </div>
            
            
              
              
            
            <div class="main__form__input2">
              <label for="mainImage">Imagen principal</label>
              <input type="file" id="mainImage" name="mainImage" />
              <small id="msgError-mainImage" class="text-validations"><%= locals.errors && (errors.mainImage && errors.mainImage.msg) %></small>
            </div>
            <div class="main__form__input2">
              <label for="images">Imagenes</label>
              <input multiple type="file" id="images" name="images" />
            </div>
            <div class="main__form__input2">
              <label for="description">Descripción</label>
              <textarea
                name="description"
                id="description"
                cols="22"
                rows="2"
                class="form-control "
              ></textarea>
              <small id="msgError-description" class="text-validations"><%= locals.errors && (errors.description && errors.description.msg); %></small>

            </div>
            <div class="main__form__links">
             
                <button type="submit">Cancelar</button>
              
             
                <button type="submit">Guardar</button>
             
            </div>
          </div>
        </form>
      </div>
    </main>
    <script src="/javascripts/productValidator.js"></script>
      <%- include('../partials/footer') %>
      <%- include('../partials/script') %>   
  </body>

</html>