<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', { title: 'REGISTER' }) %>

  <body>

    <%- include('../partials/header') %>

      <main class="main__login">
        <div class="main__form">
          <h1 id="title">Registro</h1>
          <form action="/user/register" method="POST" enctype="multipart/form-data" >
            <div class="main__form__input-group">
              <!-- div nombre -->
              <div class="main__form__input-field">
                <i class="fa-solid fa-circle-user  fa-lg"></i>
                <input type="text" name="nombre" placeholder="Ingrese su nombre" />
              </div>
              <small class="text-validations"><%= locals.errors && (errors.name && errors.name.msg); %></small>
              <!-- div apellido -->
              <div class="main__form__input-field">
                <i class="fa-solid fa-circle-user fa-lg"></i>
                <input type="text" name="apellido" placeholder="Ingrese su apellido" />
              </div>
              <small class="text-validations"><%= locals.errors && (errors.apellido && errors.apellido.msg); %></small>
              <!-- div email -->
              <div class="main__form__input-field">
                <i class="far fa-envelope"></i>
                <input type="email" name="email" placeholder="Email" />
              </div>
              <small class="text-validations"><%= locals.errors && (errors.email && errors.email.msg); %></small>
              <!-- fin -->
              <!-- div contrase単a -->
              <div class="main__form__input-field">
                <i class="fa-solid fa-lock"></i>
                <input type="password" name="password" placeholder="Contrase単a" />
                <i class="fa-regular fa-eye-slash"></i>
              </div>
              <small class="text-validations"><%= locals.errors && (errors.password && errors.password.msg); %></small>
              <!-- fin -->
              <!-- div confirmar contrase単a -->
              <div class="main__form__input-field">
                <i class="fa-solid fa-lock"></i>
                <input type="password" name="password2" placeholder="Confirmar contrase単a" />
                <i class="fa-regular fa-eye-slash"></i>
              </div>
              <small class="text-validations"><%= locals.errors && (errors.password2 && errors.password2.msg); %></small>
              <!-- fin -->
              <div class="main__form__input-field">
                <i class="fa-solid fa-file-arrow-up fa-bounce fa-lg"></i>
                <input type="file" id="image" name="image"/>
              </div>
              <!-- div fecha -->
              <div class="main__form__input-field">
                <i class="fa-solid fa-calendar-days"></i>
                <input type="date"  placeholder="Ingrese su fecha de nacimiento" />
              </div>
              <!-- fin -->
              <!-- checj -->
              <div class="main__form__checkbox">
                <input type="checkbox" />
                <p>Confirma que es mayor de edad?</p>
              </div>
              <!-- fin -->
            </div>
            <p>O ingresar con</p>
            <div class="main__form__links">
              <button><i class="fab fa-google"></i></button>
              <button><i class="fab fa-facebook"></i></button>
            </div>
            <div class="primary__button">
              <button id="signUp" type="submit">Registrarse</button>
            </div>
            <a href="/user/login">Ya esta registrado?/Login</a>
          </form>
        </div>
      </main>

      <%- include('../partials/footer') %>
    
  </body>

</html>