<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', { title: 'UPDATE-PROFILE' }) %>

  <body>

    <%- include('../partials/header') %>

      <main class="main">
        <div class="main__form">
          <h1 id="title">Actualizar perfil</h1>
          <form action="/user/update-profile/<%= id %>?_method=PUT" method="POST" enctype="multipart/form-data" >
            <div class="main__form__input-group">
              <!-- div nombre -->
              <div class="main__form__input-field">
                <i class="fa-solid fa-circle-user  fa-lg"></i>
                <input type="text" name="nombre" placeholder="Ingrese su nombre" />
              </div>
              <small class="text-validations"><%= locals.errors && (errors.name && errors.name.msg); %></small>
              <!-- div apellido -->
              <div class="main__form__input-field">
                <i class="fa-solid fa-circle-user fa-lg"></i>
                <input type="text" name="apellido" placeholder="Ingrese su apellido" />
              </div>
              <small class="text-validations"><%= locals.errors && (errors.apellido && errors.apellido.msg); %></small>
              <!-- div email -->
              <div class="main__form__input-field">
                <i class="far fa-envelope"></i>
                <input type="email" name="email" placeholder="Email" />
              </div>
              <small class="text-validations"><%= locals.errors && (errors.email && errors.email.msg); %></small>
              <!-- fin -->
              <!-- div contrase単a -->
              <div class="main__form__input-field">
                <i class="fa-solid fa-lock"></i>
                <input type="password" name="password" placeholder="Contrase単a" />
                <i class="fa-regular fa-eye-slash"></i>
              </div>
              <small class="text-validations"><%= locals.errors && (errors.password && errors.password.msg); %></small>
              <!-- fin -->
              <!-- div confirmar contrase単a -->
              <div class="main__form__input-field">
                <i class="fa-solid fa-lock"></i>
                <input type="password" name="password2" placeholder="Confirmar contrase単a" />
                <i class="fa-regular fa-eye-slash"></i>
              </div>
              <small class="text-validations"><%= locals.errors && (errors.password2 && errors.password2.msg); %></small>
              <!-- fin -->
              <div class="main__form__input-field">
                <i class="fa-solid fa-file-arrow-up fa-bounce fa-lg"></i>
                <input type="file" id="image" name="image"/>
              </div>
              <!-- div fecha -->
              
              <!-- fin -->
              
              <!-- fin -->
            </div>
            
            <div class="primary__button">
              <button id="signUp" type="submit">Actualizar perfil</button>
            </div>
            
          </form>
        </div>
      </main>

      <%- include('../partials/footer') %>
    
  </body>

</html>